/*	CSS Resset	*/
	body, div, p, ul, ol, li, pre, input {
		margin:0;
		padding:0;
	}
	header, footer, div, ul, li {
		box-sizing: border-box;
	}
	ul, li {
		list-style-type: none;
	}

/*	CSS General	*/
	.clearfix:after {
		content: '.';
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}

/*	main CSS	*/
	html {
		width: 100%;
		height:101%;
	}
	body {
		width: 100%;
		min-height:101%;
		position: relative;
	}
	body, ul, li, input, pre {
		font: 16px/24px Lato, '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', MS PGothic, Arial, Verdana, Sans-Serif;
	}

/* container */
	#container {
		width: 1000px;
		margin: 0 auto;
	}
/* loadOverlay */
	#loadOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 101%;
		background-color: rgba(0,0,0,.8);
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
	}

/* headerContainer */
	header {
		padding: 12px 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.header-left{
		width: 500px;
	}
	.header-left .site-subtitle {
		padding-bottom: 10px;
		font-size: 0.9rem;
		color: #fff;
	}
	.header-left .sitelogo {
	}
	.header-right{
		width: 500px;
		padding: 0 5px 0;
	}
	.header-right nav {
		padding: 15px 0;
		text-align: right;
	}
	header .nw_indicators {
		padding: 0 0 10px 0;
		text-align: right;
	}
	header .nw_button {
		margin: 0;
		box-sizing: border-box;
		outline: none;
		border: 0;
		padding: 2px 6px;
		border-radius: 3px;
		font-size: 0.8rem;
	}
	header .nw_button.ipv4.active {
	}
	header .nw_button.ipv6.active {
	}
	header .nw_button.http.active {
	}
	header .nw_button.https.active {
	}
	header .nw_button.http2.active {
	}
	header .button-share {
		margin: 0px 12px;
		padding: 2px 0 0 0;
		width: 60px;
		height: 60px;
		outline: none;
		border: 0;
		border-radius: 50%;
		font-size: 28px;
		cursor: pointer;
		transition: color .2s ease-out;
	}

/* footer */
	footer {
		margin: 20px auto 60px;
		width: 1000px;
	}
	footer > div {
		margin-bottom: 20px;
	}
	footer h3 {
		margin: 0 0 15px;
		padding-bottom: 15px;
		border-bottom-style: double;
		border-bottom-width: 4px;
	}

/* footer_site */
	.footer_site {
		padding: 20px;
	}
	.footer_site .columns {
		display: flex;
	}
	.footer_site .column {
		margin: 20px;
		width: 280px;

		display: flex;
		flex-direction: column;
	}
	.footer_site .column:nth-child(1) {
		flex: 0 1 auto;
	}
	.footer_site .column:nth-child(2) {
		flex: 2 1 auto;
	}
	.footer_site .column .content p {
		padding: 0px 0px 24px;
	}
	.footer_site .column .content .browser ul {
		display: table;
		width: 100%;
	}
	.footer_site .column .content .browser li {
		display: table-cell;
		width: 20%;
		padding: 10px 10px 10px 30px;
	}
	.footer_site .column .content .browser li:first-child {
		padding-left: 0px;
		width: 40%;
	}
	.footer_site .column .content .icon-ok
,	.footer_site .column .content .icon-cancel {
		position: relative;
	}
	.footer_site .column .content .icon-ok:before
,	.footer_site .column .content .icon-cancel:before {
		position: absolute;
		top: 2px;
		left: -22px;
	}

/* footer_me */
	.footer_me {
		padding: 40px;
	}
	.footer_me .columns {
		display: flex;
	}
	.footer_me .columns_aboutme {
	}
	.footer_me .column {
		margin: 20px;
		width: 280px;
	}
	.footer_me .column.column_sns li {
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	}
	.footer_me .column.column_sns a {
		display: block;
		padding: 0 18px;
		font-size: 93.75%;
		line-height: 52px;
		height: 52px;
		transition: color .2s ease-in;
	}
	.footer_me .column_sns .sns-icon {
		float: left;
		margin-right: 16px;
		padding-top: 15px;
		width: 32px;
		font-size: 24px;
		line-height: 1;
		text-align: center;
	}
	.footer_me .column_sns:nth-child(2) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.footer_me .column_sns:nth-child(2) .marks {
		position: relative;
		width: 19px;
		height: 19px;
	}
	.footer_me .column_sns:nth-child(2) .mark {
		position: absolute;
	}
	.footer_me .column_sns:nth-child(2) .mark_1 {
		top: 4px;
		left: 4px;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		border: solid 1px #bcbcbc;
	}
	.footer_me .column_sns:nth-child(2) .mark_3 {
		left: 9px;
		width: 1px;
		height: 100%;
		background: #bcbcbc;
	}
	.footer_me .column_sns:nth-child(2) .mark_4 {
		top: 9px;
		width: 100%;
		height: 1px;
		background: #bcbcbc;
	}

/* footer_copyright */
	.footer_copyright {
		padding: 20px;
		text-align: center;
	}

/* slider_container */
	#slider_background {
		margin-bottom: 14px;
		width: 100%;
		height: 420px;
		background: #242424;
		box-shadow: 0 1px 0 #161616, 0 5px 12px rgba(0, 0, 0, 0.9);
	}
	#slider_background.open {
		height: 420px;
		background: url('./images/assault.png');
		transform: scale(1, 1);
		transition: height .4s, transform .6s ease-in .6s;
	}
	#slider_background.close {
		height: 0;
		transform: scale(0, 1);
		transition: height .4s ease-out 1.6s, transform .6s ease-out 0.6s;
	}
	#slider_container input {
		display: none;
	}
	#slider_container {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 442px;
		margin: 148px 0 0 0;
		padding: 0;
		overflow: hidden;
	}
	#slider_container.open {
		transform: scale(1, 1);
		transition: transform .3s ease-in 1.4s;
	}
	#slider_container.open.hovering {
		margin: 0;
		padding: 148px 0 0 0;
		height: 590px;
	}
	#slider_container.close {
		transform: scale(1, 0);
		transition: transform .3s ease-in 0s;
	}
	#slider {
		display: flex;
		width: 360px;
		height: 360px;
		background: #222;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1);
		border-radius: 3px;
	}
	#slider .inner {
		display: flex;
		transition: 0.5s ease-in;
	}
	#slider .inner li {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 360px;
		height: 360px;
	}
	#slider .inner li div.img_container {
		position: relative;
		width: 320px;
		height: 320px;
	}
	#slider .inner li div.img_container img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		max-width: 280px;
		max-height: 280px;
		width: auto;
		height: auto;
		transition: all 0.5s;
	}
	#slider .inner li figure.img_container {
		position: relative;
		margin: 0;
		width: 320px;
		height: 320px;
		color: #fff;
	}
	#slider .inner li div.img_wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 280px;
		height: 174px;
		overflow: hidden;
		transition: transform 0.5s cubic-bezier(0, 0, 0.5, 1.5), opacity 0.35s;
	}
	#slider figure.img_container.expanding img {
		border: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 100%;
		-transform: scale(0.7);
	}
	#slider figure.img_container.expanding:hover img {
		-transform: scale(1);
		-opacity: 1;
	}
	#slider figure.img_container figcaption {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		background: rgba(52, 73, 94, 0.75);
		overflow: hidden;
	}
	#slider figure.img_container.expanding figcaption {
		width: 280px;
		height: 174px;
	}
	#slider figure.img_container h2,
	#slider figure.img_container p {
		width: 50%;
		height: 50%;
		margin: 0;
		padding: 0.4rem 0.5rem;
		color: rgba(255, 255, 255, 0.6);
		border: solid 2px rgba(255, 255, 255, 0.6);
		box-sizing: border-box;
	}
	#slider figure.img_container h2 {
		font-size: 1rem;
		text-align: left;
		transform: translate3d(25px, 25px, 0);
		transition: transform 0.35s;
	}
	#slider figure.img_container:hover h2 {
		transform: translate3d(15px, 15px, 0);
	}
	#slider figure.img_container p {
		float: right;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		opacity: 0;
		font-size: smaller;
		font-weight: bold;
		line-height: 1;
		text-align: right;
		transform: translate3d(-50%, -50%, 0);
		transition: opacity 0.35s, transform 0.35s;
	}
	#slider figure.img_container:hover p {
		opacity: 1;
		transform: translate3d(-15px, -15px, 0);
	}
	#slider figure.img_container a {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		text-indent: 200%;
		opacity: 0;
	}
	#slider-controler {
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 40px;
	}
	#slider-controler li {
		margin: 0 4px;
	}
	#slider-controler li {
		display: block;
		width: 24px;
		height: 24px;
		background-image: radial-gradient(rgba(216, 164, 109, 1) 30%, rgba(216, 164, 109, 0) 36%);
		background-color: rgba(0, 0, 0, 0.2);
		background-repeat: no-repeat;
		border-radius: 50%;
		vertical-align: middle;
		cursor: pointer;
		-webkit-appearance: none;
		transition: background-position .15s cubic-bezier(.8, 0, 1, 1), transform .25s cubic-bezier(.8, 0, 1, 1);
		text-align: center;
		line-height: 1;
		font-size: 14px;
		color: #aaa;
	}
	#slider-controler li.active {
		transition: background-position .2s cubic-bezier(0, 0, .2, 1), transform .25s cubic-bezier(0, 0, .2, 1);
	}
	#slider-controler li {
		background-position: 24px 0;
	}
	#slider-controler li.active {
		background-position: 0 0;
	}
	#slider-controler li.active ~ li {
		background-position: -24px 0;
	}
	#slider-controler li label {
		display: block;
		width: 100%;
		height: 100%;
	}

	.expanding:hover { z-index: 1; }
	.expanding:hover .img_wrapper:nth-child(1){ transform: translate(0,60%) rotate(-20deg); }
	.expanding:hover .img_wrapper:nth-child(2){ transform: translate(60%,0) rotate(-20deg); }
	.expanding:hover .img_wrapper:nth-child(3){ transform: translate(0,-60%)  rotate(-20deg); }
	.expanding:hover .img_wrapper:nth-child(4){ transform: translate(-60%,0)  rotate(-20deg); }
	.expanding:hover .img_wrapper:nth-child(5){ transform: scale(1.1,1.1) rotate(-20deg); }

	input#image1:checked ~ #slider .inner {transform: translatex(0px);}
	input#image2:checked ~ #slider .inner {transform: translatex(-360px);}
	input#image3:checked ~ #slider .inner {transform: translatex(-720px);}
	input#image4:checked ~ #slider .inner {transform: translatex(-1080px);}
	input#image5:checked ~ #slider .inner {transform: translatex(-1440px);}
	input#image6:checked ~ #slider .inner {transform: translatex(-1800px);}
	input#image7:checked ~ #slider .inner {transform: translatex(-2160px);}
	input#image8:checked ~ #slider .inner {transform: translatex(-2520px);}
	input#image9:checked ~ #slider .inner {transform: translatex(-2880px);}

	input#image1:checked ~ #slider-controler li label[for='image1'],
	input#image2:checked ~ #slider-controler li label[for='image2'],
	input#image3:checked ~ #slider-controler li label[for='image3'],
	input#image4:checked ~ #slider-controler li label[for='image4'],
	input#image5:checked ~ #slider-controler li label[for='image5'],
	input#image6:checked ~ #slider-controler li label[for='image6'],
	input#image7:checked ~ #slider-controler li label[for='image7'],
	input#image8:checked ~ #slider-controler li label[for='image8'],
	input#image9:checked ~ #slider-controler li label[for='image9'] {
		-background: #ff8e00;
		-color: #fff;
	}

/* contentsContainer, leftContainer, rightContainer */
	#contentsContainer {
		position: relative;
		width: 100%;
		display: flex;
	}
	#leftContainer {
		width: 230px;
		margin: 10px;
		padding: 20px 10px;
		background: #eee;
	}
	#rightContainer {
		width: 750px;
	}

/* iconArea */
	.iconArea {
		width: 100%;
	}
	.searchIcon, .statusIcon, .srtcutIcon, .tagtableIcon, .configIcon, .adsIcon {
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 3px;
		width: 64px;
		height: 64px;
		background: #ddd;
		font-size: 28px;
		transition-duration: 0.2s;
	}
	.searchIcon:hover, .statusIcon:hover, .srtcutIcon:hover, .tagtableIcon:hover, .configIcon:hover, .adsIcon:hover {
		cursor: pointer;
	}
	.searchOn, .statusOn, .srtcutOn, .tagtableOn, .configOn, .adsOn {
		background: #ccc;
	}

/* Submit Area v1.00 */
	.submitArea {
		padding: 3px;
	}
	.submitButton {
		position: relative;
		padding: 10px;
		color: #bcbcbc;
		cursor: pointer;
	}
	.submitButton.inactive {
		cursor: default;
	}
	.submitButton {
		font-weight: 700;
		line-height: 2;
		border: solid 1px rgba(0, 0, 0, .3);
		background: linear-gradient(#292929, #0a0a0a);
		background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#0a0a0a));
		border-radius: 5px;
	}
	.submitButton .text {
		transition-duration: .2s;
	}
	.submitButton .counter {
		position: absolute;
		top: 15px;
		left: auto;
		right: 10px;
		min-width: 40px;
		height: 24px;
		padding: 2px 5px;
		font-size: 13px;
		line-height: 16px;
		overflow: hidden;
		transition-duration: .2s;
	}
	.submitButton .cur, .submitButton .next {
		position: absolute;
		top: 4px;
		left: 4px;
		transition: top .5s;
	}
	.submitButton .cur {
		top: 4px;
	}
	.submitButton .cur.active {
		top: 30px;
	}
	.submitButton .next {
		top: -30px;
	}
	.submitButton .next.active {
		top: 4px;
	}

/* countArea */
	.countArea {
		clear: both;
		width: 100%;
		padding: 10px 0;
		text-align: right;
	}

/* tagarea */
		.kwords_tagarea,
		.tags_tagarea h4,
		.tags_tagarea .tagbox_wrapper {
			display: none;
		}
		.kwords_tagarea.show {
			display: block;
		}
		.tags_tagarea.show h4,
		.tags_tagarea.show .tagbox_wrapper {
			display: block;
		}
		.tags_tagarea .pre-tag,
		.tags_tagarea .pre-list {
			display: none;
		}
		.tagbox_wrapper {
			padding: 3px;
			border: solid 1px #000;
			min-height: 60px;
		}
		.tagbox {
		}
		.tagbox .tag {
			float: left;
			margin: 1px;
			padding: 0 8px;
			border-radius: 20px;
		}
		.taginput {
			margin: 3px;
			padding: 4px 0 7px 10px;
			border: 0;
			background: transparent;
			outline: 0;
			color: #bcbcbc;
			font-size: 14px;
			line-height: 1em;
		}
		#kwords .taglistbox_wrapper,
		#tagon .taglistbox_wrapper {
			display: none;
		}
		#tagoff .taglistbox_wrapper {
			margin: 5px 0;
			width: 210px;
			height: 800px;
			overflow: hidden;
		}
		.taglistbox {
			width: 240px;
			height: 800px;
			padding-right: 30px;
			overflow-y: scroll;
		}
		.taglistbox .tag {
			padding: 8px 10px 14px 20px;
			width: 210px;
			border-bottom: solid 1px #ddd;
			text-align: left;
			position: relative;
			cursor: pointer;
			transition-duration: .2s;
		}
		.taglistbox .tagListId {
			position: absolute;
			top: 24px;
			right: 0;
		}
		.taglistbox .tagListColor {
			position: absolute;
			top: 0;
			left: 0;
			width: 8px;
			height: 100%;
		}

	/* color */
		.tagbox_wrapper {
			border-color: #292929;
		}
		.tagbox .tag {
			background-color: #363636;
		}
		.taglistbox .tag {
			border-bottom-color: #292929;
		}
		.taglistbox .tag:first-child {
			border-top-color: #292929;
		}
		.taglistbox .tagListId {
			color: grey;
		}
		.taglistbox .tagNeutral .tagListColor {
			background-color: #277d5b;
		}
		.taglistbox .tagOn .tagListColor {
			background-color: #5c98a8;
		}
		.taglistbox .tagOff .tagListColor {
			background-color: #e36c67;
		}

	/* font */
		.tagbox_wrapper {
			font-size: 12px;
			line-height: 18px;
		}
		.taglistbox .tagListId {
			font-size: 10px;
		}

/* itemArea */
	.itemArea{
	 }
	.items{
		float: left;
		margin: 10px;
		padding: 20px 10px;
		width: 230px;
		height: 300px;
		background: #ddd;
		position: relative;
	}
	.imageBlock {
		position: relative;
		width: 100%;
		height: 131px;
	}
	.itemImage {
		width: 210px;
		display: none;
		cursor: pointer;
	}
	.loading {
		position: absolute;
		top: 45px;
		left: 85px;
	}
	.taglistBlock{
		padding: 10px 0 0 0;
		width: 100%;
		height: 129px;
		overflow: hidden;
	}
	.tagItemBlock{
		float: left;
		background: #fff;
		margin: 1px;
		padding: 0 8px;
		border-radius: 20px;
	}

/* coverBlock */
	.coverBlock {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 151px;
		z-index: 10;
		background: rgba(0,0,0,.5);
		display: none;
	}
	.coverBlockTitle {
		width: 100%;
		height: 30%;
		padding: 10px 0 0 15px;
	}
	.coverBlockIcons {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 70%;
	}
	.coverBlockZoom, .coverBlockLink {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 44px;
		margin: 10px;
		border-radius: 22px;
		font-size: 24px;
		background: #ddd;
	}

/* largeBlock*/
	.largeBlock {
		display: none;
		float: left;
		margin: 10px;
		padding: 10px;
		width: 730px;
		background: #ddd;
		position: relative;
	}
	.largeBlockBalloon {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-bottom: solid 20px #ddd;
		border-right: solid 10px transparent;
		border-left: solid 10px transparent;
	}
	.tagLargeBlock {
		float: right;
		min-width: 86px;
		position: relative;
		margin: 1px;
		padding: 2px 6px 0px 15px;
		color: #ddd;
		background: white;
		border: solid 1px white;
	}
	.tagLargeBlock::before {
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		position: absolute;
		top: 9px;
		left: 0px;
		background: #ddd;
		border-radius: 5px;
	}
	.tagLargeBlock::after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		top: -1px;
		left: -17px;
		border-right: solid 16px white;
		border-top: solid 14px transparent;
		border-bottom: solid 14px transparent;
	}
	.largeBlockImage {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 710px;
		overflow: hidden;
		clear: both;
	}

/* configBlock */
	.itemConfig {
		display: none;
	}
	#itemConfigTitle {
		padding: 5px;
		width: 100%;
		height: 50px;
		overflow: hidden;
	}
	#itemConfigDesc {
		padding: 0;
		width: 100%;
		height: 103px;
		overflow: hidden;
	}
	.itemConfigExec {
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 5px;
		padding: 5px;
		width: 100%;
		border: 0;
		cursor: pointer;
		transition-duration: 0.2s;
	}
	.itemConfigMaxrowsSelected {
		cursor: default;
		background: #ccc;
	}

/* srtcutBlock */
	.itemSrtcut {
		display: none;
	}
	.itemSrtcutTitle {
		padding: 5px;
		width: 100%;
		height: 50px;
		overflow: hidden;
	}
	.itemSrtcutDesc {
		padding: 5px;
		width: 100%;
		height: 186px;
		overflow: hidden;
	}
	.itemSrtcutExec {
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		width: 100%;
		border: 0;
		cursor: pointer;
		transition-duration: 0.2s;
	}

/* globeBlock */
	.itemGlobe {
		display: none;
	}
	.itemGlobeTitle {
		padding: 5px;
		width: 100%;
		height: 50px;
		overflow: hidden;
	}
	.itemGlobeDesc {
		padding: 5px;
		width: 100%;
		height: 124px;
		overflow: hidden;
	}
	.itemGlobeExec {
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		width: 100%;
		border: solid 1px #ccc;
	}

/* itemCountArea */
	.itemCountArea {
		clear: both;
		width: 730px;
		margin: 5px 10px;
		padding: 10px;
		text-align: center;
	}

/* itemPrevArea / itemNextArea */
	.itemPrevArea,
	.itemNextArea {
		clear: both;
		width: 730px;
		margin: 5px 10px;
		font-size: 80px;
		text-align: center;
	}
	.itemPrevArea.hidden,
	.itemNextArea.hidden {
		display: none;
	}
	.itemPrevArea {
		padding: 60px 10px 40px 10px;
	}
	.itemNextArea {
		padding: 10px 10px 60px 10px;
	}
	.icon-down-circle {
		position: relative;
		margin: 0 auto;
		width: 100px;
		height: 100px;
		border-style: solid;
		border-width: 18px;
		border-radius: 50%;
		cursor: pointer;
	}
	.upCircle .icon-down-circle:before {
		position: absolute;
		top: -6px;
		left: -3px;
		transform: rotate(180deg);
	}
	.downIcon .icon-down-circle:before {
		position: absolute;
		top: -9px;
		left: -1px;
	}

/* debugArea */
	.debugArea {
		clear: both;
		width: 730px;
		margin: 5px 10px;
		padding: 10px;
		text-align: left;
	}

/* --- font --- */
	.midium,
	{
		font-size: 16px;
		line-height: 24px;
	}
	.small,
	.countArea,
	.itemSrtcutDesc,
	.footerSupportDesc,
	.footerSupportMore,
	.footerSupportOS,
	.footerClickShare,
	.footerClickAbout,
	.footerCopyRight,
	.taglistBlock
	{
		font-size: 12px;
		line-height: 18px;
	}

/* iconfont */
	@font-face {
		font-family: 'icomoon';
		src: url('../font/icomoon.eot?rf80ba');
		src: url('../font/icomoon.eot?rf80ba#iefix') format('embedded-opentype'),
			 url('../font/icomoon.ttf?rf80ba') format('truetype'),
			 url('../font/icomoon.woff?rf80ba') format('woff'),
			 url('../font/icomoon.svg?rf80ba#icomoon') format('svg');
		font-style: normal;
		font-weight: normal;
	}
	[class^="icon-"]:before,
	[class*=" icon-"]:before {
		font-family: 'icomoon';
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		speak: none;
		line-height: 1;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.icon-search:before { content: '\f002'; }
	.icon-down-circle:before { content: "\f13a"; }
	.icon-ok:before { content: "\f00c"; }
	.icon-cancel:before { content: "\f00d"; }
	.icon-link-ext:before { content: "\f08e"; }
	.icon-tag:before { content: '\f02b'; }
	.icon-zoom-in:before { content: "\f00e"; }
	.icon-globe:before { content: "\f0ac"; }
	.icon-list-nested:before { content: '\f0ae'; }
	.icon-flash:before { content: "\f0e7";}
	.icon-wrench:before { content: "\f0ad"; }
	.icon-twitter:before { content: "\f099"; }
	.icon-facebook:before { content: "\f09a"; }
	.icon-gplus:before { content: "\f0d5"; }
	.icon-github:before { content: "\f113"; }
	.icon-codepen:before { content: "\f1cb"; }
	.icon-hatebu:before { content: "\e900"; }
	.icon-hateblog:before { content: "\e901"; }

/*	link presets	*/
	a {
		text-decoration: none;
	}

/* --- color --- */
	a:link {
		color: #bcbcbc;
	}
	a:visited {
		color: #bcbcbc;
	}
	a:hover {
		color: #fff;
	}
	a:active {
		color: #fff;
	}

	header
,	.footer_site
,	.footer_me
,	.footer_copyright
,	#leftContainer

,	.items
,	.largeBlock
,	.tagLargeBlock::before
	{
		background: #000;
		background: #0a0a0a;
		background: #161616;
		-background: #242424;
		-background: #292929;
		-background: #363636;
	}
	.searchOn
,	.statusOn
,	.srtcutOn
,	.tagtableOn
,	.configOn
,	.adsOn

,	.itemConfigMaxrowsSelected
	{
		background: #000;
		background: #0a0a0a;
		background: #161616;
		background: #242424;
		background: #292929 !important;
		-background: #363636;
	}
	body
,	header .button-share

,	.searchIcon
,	.statusIcon
,	.srtcutIcon
,	.tagtableIcon
,	.configIcon
,	.adsIcon

,	.tagItemBlock
,	.coverBlockZoom
,	.coverBlockLink
,	.tagLargeBlock

,	.itemConfigExec
,	.itemSrtcutExec
	{
		background: #000;
		background: #0a0a0a;
		background: #161616;
		background: #242424;
		background: #292929;
		background: #363636;
	}

	body
,	input
,	header .button-share
	{
		color: #bcbcbc;
	}

	footer h3
	{
		color: #e4e4e4;
	}
	header .header-left a
,	header .button-share:hover

,	.searchIcon:hover
,	.statusIcon:hover
,	.srtcutIcon:hover
,	.tagtableIcon:hover
,	.configIcon:hover
,	.adsIcon:hover

,	.submitButton:hover .text
,	.submitButton:hover .counter

,	.taglistbox .tag:hover

,	.tagLargeBlock

,	.itemConfigExec:hover
,	.itemConfigMaxrowsSelected
,	.itemSrtcutExec:hover
	{
		color: #fff;
	}

/* nw_indicator */
	header .nw_button {
		background: #292929;
		color: #bcbcbc;
	}
	header .nw_button.ipv4.active {
		background: #bcbcbc;
		color: #fff;
	}
	header .nw_button.ipv6.active {
		background: #e36c67;
		color: #fff;
	}
	header .nw_button.http.active {
		background: #bcbcbc;
		color: #fff;
	}
	header .nw_button.https.active {
		background: #5c98a8;
		color: #fff;
	}
	header .nw_button.http2.active {
		background: #5c98a8;
		color: #fff;
	}

/* submit button */
	.submitButton .icon-ok {
		color: #76daff;
	}
	.submitButton .icon-cancel {
		color: #ff8fa8;
	}

/* footer */
	footer h3 {
		border-bottom-color: #3a3a3a;
	}
	.icon-down-circle {
		border-color: #bcbcbc;
	}

/* coverBlock */
	.coverBlock {
		background: rgba(0,0,0,.8);
	}

/* largeBlock */
	.largeBlockBalloon {
		border-bottom-color: #000;
	}
	.tagLargeBlock {
		border: solid 1px #292929;
	}
	.tagLargeBlock::after {
		border-right: solid 16px #292929;
		border-top: solid 14px transparent;
		border-bottom: solid 14px transparent;
	}
